html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
}
.fulfill {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.notify {
  position: fixed;
  top: 0;
  left: 0;
}
.notify img {
  max-width: 100%;
}